*{
  padding: 0;
  margin: 0;
}

.App{
  display: flex;
  padding: 5%;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  position: absolute;
}
.Grid{
  width: 420px;
  display: flex;
  flex-wrap: wrap;
  height: 400px;
}
.color{
  position: absolute;
  top: 0;
  left: 0;
}
.container{
  height: 400px;
  width: 110px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 20px;
}

.block_container{
  transition: transform .1s ease;
  transform-origin:100% 100%;/*鼠标的位置在3/3的位置*/
  height: 108px;
  width: 110px;
}

.score{
  font-size: 20px;
  text-align: center;
  width: 100%;
  position: fixed;
  top: 10px;
}

.block_cell{
  width: 20px;
  height: 20px;
  margin-right: 2px;
  border-radius: 2px;
  display: inline-block;
}

.cell{
  width: 9.2%;
  height: 9.2%;
  background: #eee;
  /* transition: color .3s ease; */
  display: inline-block;
  padding: 0;
  margin: 2px 2px 0 0;
  border-radius: 2px;
}
.dispear{
  animation: smaller .3s 1
}
@keyframes smaller{
  from{
    transform: scale(1)
  }
  to{
    transform: scale(0)
  }
}
.color .cell{
  z-index: 10;
  background-color: transparent;
}
@media screen and (max-width:420px){
  .App{
    flex-direction: column;
  }
  .container{
    flex-direction: row;
    width: 100%;
    height: 110px
  }
}