*{
  padding: 0;
  margin: 0;
}

.App{
  display: flex;
  padding: 5%;
  box-sizing: border-box;
  width: 100%;
  position: absolute;
}
.Grid{
  width: 420px;
  display: flex;
  flex-wrap: wrap;
  height: 400px;
}
.container{
  height: 400px;
  width: 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
}

.block_container{
  height: 108px;
}

.block_cell{
  width: 20px;
  height: 20px;
  margin-right: 2px;
  border-radius: 2px;
  display: inline-block;
}

.cell{
  width: 40px;
  height: 40px;
  background: #eee;
  display: inline-block;
  padding: 0;
  margin: 2px 2px 0 0;
  border-radius: 2px;
}